.side{
  height: 100vh;
  width: 400px;
  background-color: #333333;
  float: left;
  // margin-top: 80px;
  .search{
    height: 80px;
    width: 370px;
    background-color: #dddddd;
    padding-left: 15px;
    margin-top: 95px;
    margin-left: 15px;
    position: relative;
    &__icon{
      position: absolute;
      font-size: 30px;
      right: 30px;
      top: 112px;
    }
  }
  .recommends{
    height: calc(100% - 250px);
    width: 370px;
    background-color: #dddddd;
    margin-top: 30px;
    margin-left: 15px;
  }
}
